<div class="container mt-4">
  <h1 class="h3">Please sign up</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="firstName" class="sr-only">First Name</label>
          <input class="form-control" id="firstName" required minlength="3" maxlength="30" [ngClass]="{
                   'is-valid': firstName.valid && (firstName.dirty || firstName.touched),
                   'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)
                 }" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" placeholder="First Name">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!firstName.errors.required">
              First Name is required!
            </div>
            <div [hidden]="!firstName.errors.minlength">
              First Name must be at least 3 characters long.
            </div>
            <div [hidden]="!firstName.errors.maxlength">
              First Name cannot be more than 30 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="middleName" class="sr-only">Middle Name</label>
          <input class="form-control" id="middleName" required minlength="3" maxlength="30" [ngClass]="{
                     'is-valid': middleName.valid && (middleName.dirty || middleName.touched),
                     'is-invalid': middleName.invalid && (middleName.dirty || middleName.touched)
                   }" [(ngModel)]="model.middleName" name="middleName" #middleName="ngModel" placeholder="Middle Name">
          <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!middleName.errors.required">
              Middle Name is required!
            </div>
            <div [hidden]="!middleName.errors.minlength">
              Middle Name must be at least 3 characters long.
            </div>
            <div [hidden]="!middleName.errors.maxlength">
              Middle Name cannot be more than 30 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="lastName" class="sr-only">Last Name</label>
          <input class="form-control" id="lastName" required minlength="3" maxlength="30" [ngClass]="{
                       'is-valid': lastName.valid && (lastName.dirty || lastName.touched),
                       'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)
                     }" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" placeholder="Last Name">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!lastName.errors.required">
              Last Name is required!
            </div>
            <div [hidden]="!lastName.errors.minlength">
              Last Name must be at least 3 characters long.
            </div>
            <div [hidden]="!lastName.errors.maxlength">
              Last Name cannot be more than 30 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-file">
          <input class="profilePic form-control" readonly name="profilePic" [ngClass]="{
            'is-valid': profilePic.valid && (profilePic.dirty || profilePic.touched),
            'is-invalid': profilePic.invalid && (profilePic.dirty || profilePic.touched)
          }" [(ngModel)]="model.profilePic" (click)="open(content)" id="profilePic" #profilePic="ngModel" required>
          <label for="profilePic" class="fasPic fas fa-camera-retro"></label>
          <img class="profileImg" *ngIf="croppedImage" (click)="open(content)" [src]="croppedImage" />
          <div *ngIf="profilePic.invalid && (profilePic.dirty || profilePic.touched)" style="top: 395%; left: 5%;" class="invalid-tooltip">
            <div [hidden]="!profilePic.errors.required">
              Picture is required!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="emailID" class="sr-only">Email ID</label>
          <input class="form-control" id="emailID" required pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngClass]="{
                     'is-valid': emailID.valid && (emailID.dirty || emailID.touched),
                     'is-invalid': emailID.invalid && (emailID.dirty || emailID.touched)
                   }" [(ngModel)]="model.emailID" name="emailID" #emailID="ngModel" placeholder="Email Address">
          <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!emailID.errors.required">
              Email address is required!
            </div>
            <div [hidden]="!emailID.errors.pattern">
              Valid email address is requried.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="mobileNo" class="sr-only">Mobile Number</label>
          <input class="form-control" id="mobileNo" required minlength="10" [ngClass]="{
                       'is-valid': mobileNo.valid && (mobileNo.dirty || mobileNo.touched),
                       'is-invalid': mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)
                     }" [(ngModel)]="model.mobileNo" name="mobileNo" #mobileNo="ngModel" placeholder="Mobile Number">
          <div *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!mobileNo.errors.required">
              Mobile Number is required!
            </div>
            <div [hidden]="!mobileNo.errors.minlength">
              Mobile Number must be at least 10 digits long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input class="form-control" id="birthday" name="birthday" #birthday="ngModel" [(ngModel)]="model.birthday" [ngClass]="{
            'is-valid': birthday.valid && (birthday.dirty || birthday.touched),
            'is-invalid': birthday.invalid && (birthday.dirty || birthday.touched)
          }" placeholder="Date of Birth" ngbDatepicker #d="ngbDatepicker" required>
          <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="invalid-tooltip">
            <div [hidden]="!birthday.errors.required">
              Date of birth is required!
            </div>
            <div [hidden]="!birthday.day.errors.required">
              Date of birth is required!
            </div>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="username" class="sr-only">Username</label>
          <input class="form-control" id="username" required pattern="[A-Za-z0-9._]{3,30}$" minlength="3" maxlength="30" [ngClass]="{
                       'is-valid': username.valid && (username.dirty || username.touched),
                       'is-invalid': username.invalid && (username.dirty || username.touched)
                     }" [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="Username">
          <div *ngIf="username.invalid && (username.dirty || username.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!username.errors.required">
              Username is required!
            </div>
            <div [hidden]="!username.errors.pattern">
              Username can contain characters ". _"
            </div>
            <div [hidden]="!username.errors.minlength">
              Username must be at least 3 characters long.
            </div>
            <div [hidden]="!username.errors.maxlength">
              Username cannot be more than 30 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password" required minlength="6" maxlength="30" [ngClass]="{
                         'is-valid': password.valid && (password.dirty || password.touched),
                         'is-invalid': password.invalid && (password.dirty || password.touched)
                       }" [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="Password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!password.errors.required">
              Password is required!
            </div>
            <div [hidden]="!password.errors.minlength">
              Password must be at least 6 characters long.
            </div>
            <div [hidden]="!password.errors.maxlength">
              Password cannot be more than 30 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="confpass" class="sr-only">Confirm Password</label>
          <input type="password" class="form-control" id="confpass" required [pattern]="model.password" [ngClass]="{
                           'is-valid': confpass.valid && (confpass.dirty || confpass.touched),
                           'is-invalid': confpass.invalid && (confpass.dirty || confpass.touched)
                         }" [(ngModel)]="model.confpass" name="confpass" #confpass="ngModel" placeholder="Confirm Password">
          <div *ngIf="confpass.invalid && (confpass.dirty || confpass.touched)" style="top: 70%" class="invalid-tooltip">
            <div [hidden]="!confpass.errors.required">
              Confirm password is required!
            </div>
            <div [hidden]="!confpass.errors.pattern">
              Confirm password doesn't match with password.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label for="address" class="sr-only">Address</label>
          <textarea class="form-control" id="address" required maxlength="100" [ngClass]="{
                           'is-valid': address.valid && (address.dirty || address.touched),
                           'is-invalid': address.invalid && (address.dirty || address.touched)
                         }" [(ngModel)]="model.address" name="address" #address="ngModel" placeholder="Address"></textarea>
          <div *ngIf="address.invalid && (address.dirty || address.touched)" style="top: 80%" class="invalid-tooltip">
            <div [hidden]="!address.errors.required">
              Address is required!
            </div>
            <div [hidden]="!address.errors.maxlength">
              Address cannot be more than 100 characters long.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <button class="btn btn-primary btn-block col-md-2" *ngIf="signupForm.valid" type="submit">Save</button>
        <button class="btn btn-outline-primary btn-block col-md-2" *ngIf="signupForm.invalid" [disabled]="signupForm.invalid" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile Picture</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper class="proImage" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
      [resizeToWidth]="150" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="imageLoadFailed()"></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Save</button>
  </div>
</ng-template>
