<div class="container mt-4 pt-5">
  <h1 class="h3">Please sign up</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="firstName" class="sr-only">First Name</label>
          <input id="firstName" name="firstName" #name="ngModel" [(ngModel)]="signup.selectedUser.firstName" class="form-control" placeholder="First Name"
            requried maxlength="30">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="middleName" class="sr-only">Middle Name</label>
          <input id="middleName" name="middleName" #name="ngModel" [(ngModel)]="signup.selectedUser.middleName" class="form-control"
            placeholder="Middle Name" requried maxlength="30">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="lastName" class="sr-only">Last Name</label>
          <input id="lastName" name="lastName" #name="ngModel" [(ngModel)]="signup.selectedUser.lastName" class="form-control" placeholder="Last Name"
            requried maxlength="30">
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-file">
          <input class="profilePic form-control" readonly name="profilePic" #name="ngModel" [(ngModel)]="signup.selectedUser.profilePic"
            (click)="open(content)" id="profilePic">
          <label for="profilePic" class="fasPic fas fa-camera-retro"></label>
          <img class="profileImg" *ngIf="croppedImage" (click)="open(content)" [src]="croppedImage" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="emailID" class="sr-only">Email ID</label>
          <input id="emailID" name="emailID" #name="ngModel" [(ngModel)]="signup.selectedUser.emailID" class="form-control" placeholder="Email ID"
            requried maxlength="80">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="mobileNo" class="sr-only">Mobile Number</label>
          <input id="mobileNo" name="mobileNo" #name="ngModel" [(ngModel)]="signup.selectedUser.mobileNo" class="form-control" placeholder="Mobile Number"
            requried maxlength="10">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input class="form-control" name="birthday" #name="ngModel" [(ngModel)]="signup.selectedUser.birthday" placeholder="Date of Birth"
            ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" #name="ngModel" [(ngModel)]="signup.selectedUser.username" class="form-control" placeholder="Username"
            requried maxlength="30">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" #name="ngModel" [(ngModel)]="signup.selectedUser.password" class="form-control"
            placeholder="Password" requried maxlength="30">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="confPass" class="sr-only">Confirm Password</label>
          <input type="password" id="confPass" name="confPass" #name="ngModel" [(ngModel)]="confPass" class="form-control"
            placeholder="Confirm Password" requried maxlength="10">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label for="address" class="sr-only">Address</label>
          <textarea id="address" name="address" #name="ngModel" [(ngModel)]="signup.selectedUser.address" class="form-control" placeholder="Address"
            requried maxlength="100"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <button class="btn btn-primary btn-block col-md-2" *ngIf="signupForm.valid" type="submit">Save</button>
        <!-- <button class="btn btn-outline-primary btn-block col-md-2" *ngIf="signupForm.invalid" [disabled]="signupForm.invalid" type="submit">Save</button> -->
      </div>
    </div>
  </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile Picture</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper class="proImage" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
      [resizeToWidth]="150" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="imageLoadFailed()"></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Save</button>
  </div>
</ng-template>
